# Smartsheet
SMARTSHEET_TOKEN=your_smartsheet_token_here
SMARTSHEET_FOLDER_ID=your_folder_id_here

# Slack
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token-here
SLACK_CHANNEL_ID=your_slack_channel_id_here

# Bianca
BIANCA_USER_ID=your_slack_user_id_here

# Config
STATUS_DONE_VALUES=Concluída,Concluida,Cancelada,Cancelado

SLACK_USER_MAP={}
